force-app/main/default/flows/Insert_Daily_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Curr_Date</name>
        <label>Assign Curr Date</label>
        <locationX>274</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>curr_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Range_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curr_date_time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Date</name>
        <label>Increment Date</label>
        <locationX>50</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>curr_date</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Reached</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_choice</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>none</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_task_decision</name>
        <label>Add task decision</label>
        <locationX>1065</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Decision</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_for_Daily_Tasks</targetReference>
            </connector>
            <label>Yes Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Reached</name>
        <label>End Reached</label>
        <locationX>475</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Create_Multiple_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curr_date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Range_End</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_another_record_screen</targetReference>
            </connector>
            <label>Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Link_to_comment</name>
        <label>Link to comment</label>
        <locationX>641</locationX>
        <locationY>678</locationY>
        <defaultConnector>
            <targetReference>Create_a_comment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Link_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sprint_select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>none</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_another_record_screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurr_Decision</name>
        <label>Recurr Decision</label>
        <locationX>465</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Task_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recurr_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurring</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Curr_Date</targetReference>
            </connector>
            <label>Recurring</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Session_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Session__c</picklistField>
        <picklistObject>Daily_Task__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sprint_set</name>
        <dataType>String</dataType>
        <displayField>Label_Choices__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Sprint_Element__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DefaultDateInp</name>
        <dataType>Date</dataType>
        <expression>IF({!$Flow.CurrentDateTime}&gt;{!test_time},{!$Flow.CurrentDate}+1,{!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>ScheduledDatefromDatetime</name>
        <dataType>Date</dataType>
        <expression>IF({!Reminder}, DATEVALUE({!Scheduled_Date_and_Time}), {!Scheduled_Date})</expression>
    </formulas>
    <formulas>
        <name>test_time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Flow.CurrentDate})+&quot; &quot;+&quot;12:30:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Insert Daily Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insert Daily Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_comment</name>
        <label>Create a comment</label>
        <locationX>882</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>Add_another_record_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Comment_Body__c</field>
            <value>
                <elementReference>Comment_body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint_Element__c</field>
            <value>
                <elementReference>Sprint_select</elementReference>
            </value>
        </inputAssignments>
        <object>Jira_Comment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Multiple_Tasks</name>
        <label>Create Multiple Tasks</label>
        <locationX>174</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Increment_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Important__c</field>
            <value>
                <elementReference>Reminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>curr_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Time__c</field>
            <value>
                <elementReference>curr_date_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Records</name>
        <label>Create Task Records</label>
        <locationX>653</locationX>
        <locationY>519</locationY>
        <connector>
            <targetReference>Link_to_comment</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Important__c</field>
            <value>
                <elementReference>Reminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>ScheduledDatefromDatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Time__c</field>
            <value>
                <elementReference>Scheduled_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isRecurring__c</field>
            <value>
                <elementReference>One_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_another_record_screen</name>
        <label>Add another record screen</label>
        <locationX>881</locationX>
        <locationY>519</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_task_decision</targetReference>
        </connector>
        <fields>
            <name>Add_another_Record</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add another Record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Daily_Tasks_Intro_Screen</name>
        <label>Daily Tasks Intro Screen</label>
        <locationX>824</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Input_Screen_for_Daily_Tasks</targetReference>
        </connector>
        <fields>
            <name>Intro_Screen</name>
            <extensionName>c:ep_FlowScreenCollective</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowScreenName</name>
                <value>
                    <stringValue>TaskInputIntro</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_for_Daily_Tasks</name>
        <label>Input Screen for Daily Tasks</label>
        <locationX>655</locationX>
        <locationY>353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recurr_Decision</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_for_Daily_Tasks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reminder</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Reminder</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Recurring</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Recurring</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>One_Time</name>
                    <dataType>Boolean</dataType>
                    <fieldText>One Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Recurring</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session</name>
                    <choiceReferences>Session_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value</name>
                    <dataType>Number</dataType>
                    <fieldText>Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sprint_select</name>
            <choiceReferences>Sprint_set</choiceReferences>
            <choiceReferences>None_choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None_choice</defaultSelectedChoiceReference>
            <fieldText>Sprint select</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_Screen_for_Daily_Tasks_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Range_Start</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Today</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Range_End</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Scheduled Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reminder</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>DefaultDateInp</elementReference>
            </defaultValue>
            <fieldText>Scheduled Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reminder</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Recurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1063</locationX>
        <locationY>538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;&lt;img src=&quot;https://capgemini523-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0685g000000oxr5?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>985</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Daily_Tasks_Intro_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Comment_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(13, 157, 9);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(28, 160, 8);&quot;&gt;&lt;i&gt;-- A task has been created --&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name:&lt;/b&gt; {!Subject}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Description&lt;/b&gt;: {!Description}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>curr_date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curr_date_time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
