force-app/main/default/flows/Insert_Daily_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_task_decision</name>
        <label>Add task decision</label>
        <locationX>808</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Decision</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_another_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Screen_for_Daily_Tasks</targetReference>
            </connector>
            <label>Yes Decision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Session_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Session__c</picklistField>
        <picklistObject>Daily_Task__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sprint_set</name>
        <dataType>String</dataType>
        <displayField>Task_Name__c</displayField>
        <object>Sprint_Element__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ScheduledDatefromDatetime</name>
        <dataType>Date</dataType>
        <expression>IF({!Reminder}, DATEVALUE({!Scheduled_Date_and_Time}), {!Scheduled_Date})</expression>
    </formulas>
    <interviewLabel>Insert Daily Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insert Daily Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_Records</name>
        <label>Create Task Records</label>
        <locationX>415</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Add_another_record_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Important__c</field>
            <value>
                <elementReference>Reminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Date__c</field>
            <value>
                <elementReference>ScheduledDatefromDatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Time__c</field>
            <value>
                <elementReference>Scheduled_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session__c</field>
            <value>
                <elementReference>Session</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isRecurring__c</field>
            <value>
                <elementReference>Recurring</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_another_record_screen</name>
        <label>Add another record screen</label>
        <locationX>583</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_task_decision</targetReference>
        </connector>
        <fields>
            <name>Add_another_Record</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Add another Record?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Daily_Tasks_Intro_Screen</name>
        <label>Daily Tasks Intro Screen</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Input_Screen_for_Daily_Tasks</targetReference>
        </connector>
        <fields>
            <name>Intro_Screen</name>
            <extensionName>c:ep_FlowScreenCollective</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowScreenName</name>
                <value>
                    <stringValue>TaskInputIntro</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input_Screen_for_Daily_Tasks</name>
        <label>Input Screen for Daily Tasks</label>
        <locationX>415</locationX>
        <locationY>292</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Task_Records</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Screen_for_Daily_Tasks_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reminder</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Reminder</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Recurring</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Recurring</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Session</name>
                    <choiceReferences>Session_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Session</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_for_Daily_Tasks_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value</name>
                    <dataType>Number</dataType>
                    <fieldText>Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sprint_select</name>
            <choiceReferences>Sprint_set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sprint select</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scheduled_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Scheduled Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reminder</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Scheduled_Date</name>
            <dataType>Date</dataType>
            <fieldText>Scheduled Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reminder</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>823</locationX>
        <locationY>477</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;&lt;img src=&quot;https://capgemini523-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0685g000000oxr5?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Daily_Tasks_Intro_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
