force-app/main/default/flows/Target_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_as_Parent</name>
        <label>Set as Parent</label>
        <locationX>862</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Record_values.Is_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>953</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Record_values.Value__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Parent_Record_values.Value__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Parent</name>
        <label>Has Parent?</label>
        <locationX>656</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Child_Has_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Record_values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent</targetReference>
            </connector>
            <label>Has Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent</name>
        <label>Is Parent?</label>
        <locationX>769</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Set_as_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Parent</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Record_values.Is_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <interviewLabel>Target Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Target Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Record_values</name>
        <label>Get Parent Record values</label>
        <locationX>561</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Target__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Record</name>
        <label>Update Parent Record</label>
        <locationX>1106</locationX>
        <locationY>361</locationY>
        <inputReference>Get_Parent_Record_values</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Parent_Record_values</targetReference>
        </connector>
        <object>Target__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
